.animesContainer {
    gap: 1rem; 
    width: 63%;
    display: grid;
    padding: 1rem;
    justify-content: end;
    margin: 8rem 4rem 0 auto;
    background-color: white;
    grid-template-columns: repeat(3, 1fr);
   
}

.animeContainer {
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    height: 28rem;

    .navLink {
        bottom: 0;
    }
    
    h2 {
        font-size: 1.2rem;
    }

    img {
        width: 16rem;
        height: 18rem;
        border-radius: 1rem;
        border: 0.01rem solid black; 
    }

    p {
        span {
            font-weight: bold;
        }
    }

    h5 {
        font-size: 1.3rem;
    }

}
