.animeDetailContainer {
    gap: 2rem; 
    display: flex; 
    padding: 2rem;
    margin-top: 4.5rem;
    align-items: center; 
    border-radius: 0.5rem; 
    background-color: #fff; 
    height: 60vh;

    img {
        width: 16rem; 
        height: auto; 
        border-radius: 0.5rem; 
        border: 0.01rem solid black; 
    }

    .animeTextContent {
        display: flex;
        max-width: 50rem; 
        text-align: center;
        flex-direction: column; 
        justify-content: flex-start; 
    }

    h2 {
        margin-bottom: 1rem; 
    }

    p {
        margin-bottom: 1.5rem; 
    }

    .openModalBtn {
        border: none;
        color: white;
        cursor: pointer;
        font-size: 1.3rem;
        padding: 0.5rem 1rem; 
        border-radius: 0.3rem;
        background-color: black ;
        transition: background-color 0.3s;

        &:hover {
            background-color: green;
        }
    }
    .overlay {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
    }
}




