@import './keyframes.scss';
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

.animeAppHeading {
  margin: 4rem 0;
  font-size: 2.5rem;
  text-align: center;
  font-family: 'silkscreen';

  .anime, .world {
    display: inline-block;
  }
  
  .anime {
    margin-right: 1rem;
    animation: slideInLeft 0.8s ease-in;
  }
  
  .world {
    animation: slideInRight 0.8s ease-in;
  }
}
.container{
  display: flex;
  animation: fadeIn 0.6s ease-in;
}

.isLoading {
  font-size: 2rem;
  text-align: center;
  align-items: center;
  height: 100vh;
}

@media (min-width: 48rem) {

  .animeAppHeading {
    font-size: 2.8rem;
  }

 }

 @media (min-width: 64rem) {
  .animeAppHeading {
    font-size: 3rem;
  }

  }