.animeDetailContainer {
    gap: 2rem; 
    height: auto;
    display: flex; 
    padding: 2rem;
    margin-top: 4rem;
    align-items: center; 
    flex-direction: column;
    background-color: black; 

    .animeInfo {
        display: flex;
        align-items: center;   
        flex-direction: column;
        border-bottom: 0.01rem solid white;
        
        .animeDetailImg {
            width: 12rem; 
            height: auto; 
            cursor: pointer;
            border-radius: 0.5rem; 
            transition: 0.3s ease;
            border: 0.01rem solid white; 
            
            &:active{
                box-shadow: 0 0 1rem 0.5rem rgba(105, 205, 255, 0.8); 
            }
        }

        .animeType, .animeEpisodes, .animeDuration {
            margin: 0.4rem;
            text-align: center;
            span {
                color: rgb(8, 202, 8);
            }
        }
    }

    .animeTextContent {
        max-width: 50rem; 
        text-align: center;  
    }

    .animeHeading {
        text-align: center;
        margin-bottom: 1.5rem; 
        text-decoration: underline;
    }

    .animeSynopsis {
        font-size: 1.3rem;
        margin-bottom: 3rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .openModalBtn {
        border: none;
        color: white;
        cursor: pointer;
        font-size: 1.1rem;
        padding: 0.5rem 1rem; 
        border-radius: 0.3rem;
        background-color: blue ;
        border: 0.01rem solid white;
        transition: background-color 0.3s;

        &:hover {
            background-color: green;
        }
    }
    .overlay {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        display: flex;
        position: fixed;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@media (min-width: 48rem) { 

    .animeDetailContainer {
        gap: 3rem;

        .animeInfo {
            .animeDetailImg {
                width: 14rem;
                margin-bottom: 0.5rem;
            }
        }

        .animeType, .animeEpisodes, .animeDuration {
            margin: 0.5rem;
        }

        .openModalBtn {
            font-size: 1.3rem;
        }

        .animeTextContent {
            max-width: 40rem;
         }
    }

}

@media (min-width: 64rem) { 
.animeDetailContainer {

    .animeInfo{
        .animeDetailImg {
            width: 15rem;

            &:hover {
                box-shadow: 0 0 1rem 0.5rem rgba(105, 205, 255, 0.8); 
            }
        }
    }
    .animeTextContent { 
        max-width: 50rem;
    }
}

 }
