header {
    display: flex;
    padding: 1rem;
    background-color: rgb(39, 173, 217);
    justify-content: center;
    align-items: center;

    p {
        display: block;
    }

    .backLink {
        color: white;
        font-size: 1.5rem;

        &:hover {
            color: black;
        }
    }
    
    h4 {
        font-size: 2rem;
        display: flex;
        color: white;
        justify-content: center;
    }
}

footer {
    
    color: white;
    padding: 1rem;
    margin-top: 5rem;
    background-color: rgb(39, 173, 217);
}