header {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    background-color: rgb(39, 173, 217);


    .backLink {
        left: 0;
        color: white;
        margin-left: 2rem;
        font-size: 1.5rem;
        position: absolute;
        font-weight: bold;

        &:hover {
            color: black;
        }
    }
    
    h4 {
        display: flex;
        color: white;
        font-size: 2rem;
        justify-content: center;
    }
}

footer {
    
    padding: 1rem;
    color: white;
    margin-top: 5rem;
    background-color: rgb(39, 173, 217);
}