    .popularAnimeContainer {
        top: 1rem;
        width: 9rem;
        position: sticky;
        text-align: center;
        align-self: start;
        margin: 3rem 0 0 0;
        
             .popularAnime {
                 display: flex;
                 color: white;
                 padding: 0.5rem;
                 cursor: pointer;
                 align-items: center;
                 margin-bottom: 1rem;
                 border-radius: 0.5rem;
                 background-color: black;
                 border: 0.01rem solid white;
                 transition: 0.2s ease-in;

                 &:active {
                    color: black;
                    background-color: white;
                 }

              .popularAnimeHeading {
            font-size: 0.6rem;
        }   
                .popularAnimeImg {
                    width: 3rem;
                    margin-right: 1rem;
                }
            }
            
        }

        @media (min-width: 48rem) { 

            .popularAnimeContainer {
                width: 13rem;
                top: 0.01rem;
         
                .popularAnime {
                    padding: 0.5rem;

                    &:hover {
                        color: black;
                        background-color: white;
                    }
                    
                    .popularAnimeHeading {
                        font-size: 1rem;
                    }
                      
                    .popularAnimeImg {
                        width: 5rem;
                        margin-right: 1rem;
                    }
                }
            }

         }

        @media (min-width: 64rem) { 
            .popularAnimeContainer {
                width: 15rem;
            }
         }