    .popularAnimeContainer {
            width: 15rem;
             margin: 0 2rem 0 0;
             text-align: center;
        
        .popularAnime {
            display: flex;
            padding: 0.5rem;
            align-items: center;
            margin-bottom: 1rem;
            background-color: white;
            border: 0.01rem solid black;
            
                
                img {
                    width: 5rem;
                    margin-right: 1rem;
                }
            }
            
        }