
.savedAnimeContainer {
    text-align: center;
    margin-right: 2rem;

    h1 {
        font-size: 2rem;
    }
    
    h1, p {
        text-align: center;
        margin: 4rem 0 4rem 2rem;
    }
    p{
        font-size: 1.8rem;
        span {
            font-size: 3rem;
        }
    }
    
    ul {
        li {  
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            .animeImg {
                width: 12rem;
                border-radius: 0.5rem; 
                box-shadow: 0 0 1rem 0.2rem rgba(105, 205, 255, 0.8); 
            }

            .removeBtn {
                width: 5rem;
                color: white;
                display: block;
                cursor: pointer;
                padding: 0.3rem;
                font-size: 1rem;
                margin: 2rem 0;
                transition: 0.15s ease-in;
                border-radius: 0.5rem;
                border: 0.01rem solid white;
                background-color: rgb(0, 0, 0);

                &:active {
                    background-color: red;
                }
            }
            
            hr {
                width: 90%;
            }
        }
    }
}

@media (min-width: 48rem) { 

    .savedAnimeContainer {

        h1 {
            font-size: 2.8rem;
        }

        ul {
            li {
                hr {
                    width: 60%;
                }
            }
        }
    }
 }
@media (min-width: 64rem) { 

    .savedAnimeContainer {

        ul {
            margin-top: 5rem;
            li {

                .animeImg {
                    width: 15rem;
                }

                .removeBtn {
                    &:hover {
                        background-color: red;
                    }
                }

                hr {
                    width: 60%;
                }
            }
        }
    }
 }