form {
    padding: 1rem;
    
    input {
        padding: 0.3rem;
        font-size: 1.1rem;
        text-align: center;
        margin-right: 1rem;
        border-radius: 0.5rem; 
        border: 0.01rem solid black;
    }
    
    .formBtn{
        cursor: pointer;
        padding: 0.5rem;
        font-size: 0.8rem;
        color: black;
        border-radius: 0.6rem;
        transition:  0.2s ease-in;
        border: 0.1rem solid black;

        &:hover {
            color: white;
            background-color: black;
        }
    }
}

@media (min-width: 48rem) { 

    form {

        input {
            font-size: 1.3rem;
        }

        .formBtn {
            font-size: 1rem;
        }

    }

 }