.topAnimeContainer {
    width: 15rem;
    text-align: center;
    margin: 0rem 0 0 2rem;
    
 
    .topAnime {
        display: flex;
        padding: 0.5rem;
        align-items: center;
        margin-bottom: 1rem;
        background-color: white;
        border: 0.01rem solid black;
        
        img {
            width: 5rem;
            margin-right: 1rem;
        }
    }
    
}