.topAnimeContainer {
    width: 9rem;
    text-align: center;
    margin: 0rem 0 0 1rem;
 
    .topAnime {
        display: flex;
        padding: 0.5rem;
        cursor: pointer;
        color: white;
        align-items: center;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
        transition: 0.2s ease-in;
        background-color: black;
        border: 0.01rem solid white;

        &:active {
           color: black;
           background-color: white;
        }

        .topAnimeHeading {
            font-size: 0.6rem;
        }
      
        .topAnimeImg {
            width: 3rem;
            margin-right: 1rem;
        }
    }
    
}

@media (min-width: 48rem) { 
    .topAnimeContainer {
        width: 13rem;
        margin: 4.5rem 0 0 1rem;
 
        .topAnime {
            padding: 0.5rem;

            &:hover {
                color: black;
                background-color: white;
            }
            
            .topAnimeHeading {
                font-size: 1rem;
            }
              
            .topAnimeImg {
                width: 5rem;
                margin-right: 1rem;
            }
        }
    }
 }

 @media (min-width: 64rem) { 
    .topAnimeContainer {
        width: 15rem;
        margin: 4.5rem 0 0 2rem;
    }
 }
